.navbar-logo img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    }
    .navbar.bg-body-tertiary {
    background-color: rgba(49, 81, 143, 0.8) !important;
    }
    .navbar-nav .nav-link {
    color: white !important;
    }
    .navbar-nav .nav-link.active {
    color: white !important;
    }
    .navbar-toggler-icon {
    background-color: white !important;
    }
    .navbar-nav .nav-item {
    margin-right: 15px;
    }
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    }
    h2 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
    }
    .login {
    margin-top: 350px;
    }
    .loginBtn {
    margin-left: 805px;
    width: 300px;
    padding: 10px;
    background-color: rgba(49, 81, 143, 0.8);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    }
    .loginBtn:hover {
    scale: 1.1;
    }
    .profileImg:hover {
    scale: 1.1;
    }