.navbar-logo img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.navbar.bg-body-tertiary {
    background-color: rgba(49, 81, 143, 0.8) !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-nav .nav-item {
    margin-right: 0;
}

.navbar-nav .nav-link {
    color: white !important;
    line-height: 1.5;
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
}

.navbar-nav .nav-link.active {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.navbar-magyarorszag {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.navbar-magyarorszag img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 4px;
    min-width: 24px;
    min-height: 24px;
}

.navbar-magyarorszag span {
    font-size: 16px;
    line-height: 1.5;
    color: white !important;
    min-width: 0;
}

.navbar-magyarorszag img {
    content: url('path/to/magyar.png');
}






#searchResults div {
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
    max-width: 250px; /* Korlátozzuk a keresési eredmény szélességét */
    overflow: hidden;
    text-overflow: ellipsis; /* Ha túl hosszú a szöveg, "..." lesz */
    white-space: nowrap; /* Ne törjön meg a szöveg */
  }
  
  #searchResults div:hover {
    background-color: #f5f5f5;
  }
  

  
  
  /* Responsive megjelenés a keresési inputhoz */
  @media (max-width: 768px) {
    #searchQuery {
      width: 150px; /* Mobilon kisebb szélesség */
    }
  
    #searchResults {
      top: 35px;
    }
  }
  

@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        padding: 10px 15px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        padding: 5px 10px;
        line-height: 1.4;
    }
}

@media (max-width: 576px) {
    .navbar-nav .nav-link {
        font-size: 12px;
        padding: 5px 8px;
        line-height: 1.3;
    }
}

.kiemelt-szurke-section {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.kiemelt-szurke-section {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.kiemelt-szurke-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.kiemelt-szurke-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.kiemelt-kártya {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.kiemelt-kártya img {
    width: 260px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
}

.kiemelt-kártya p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    color: red;
}

.kiemelt-kártya p:hover {
    color: darkred;
    cursor: pointer;
}

.kiemelt-kártya:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

section {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.hír-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.hír-kártya {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.hír-kártya img {
    width: 260px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
}

.hír-kártya p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.hír-kártya:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.sport-section {
    background-color: #BBDEFB;
}

.politika-section {
    background-color: #BBDEFB;
}

.magyarorszag-section {
    background-color: #BBDEFB;
}

.altalanos-section {
    background-color: #BBDEFB;
}

.kiemelt-kártya p,
.kiemelt-kártya img {
    cursor: pointer;
}

.kiemelt-kártya p:hover {
    color: black;
}

.hír-kártya p,
.hír-kártya img {
    cursor: pointer;
}

.hír-kártya p:hover {
    color: black;
}

.fixed {
    position: fixed;
    right: 30px;
    top: 50%;
    background-color: rgba(49, 81, 143, 0.8) !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed:hover {
    transform: scale(1.1);
}

.fixed i {
    font-size: 2.5rem;
    color: #a3eeff;
}

.fixed a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fixed img {
    position: fixed;
    right: 30px;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kapcsolat-section {
    background-color: #F9F9F9;
    padding: 20px 20px;
    font-size: 14px;
    margin-top: 10px;
    border-top: 1px 1px solid #ddd;
}

.kapcsolat-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.kapcsolat-section p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.kapcsolat-section a {
    color: #007BFF;
    text-decoration: none;
}

.kapcsolat-section a:hover {
    text-decoration: underline;
}

.kapcsolat-section .row {
    text-align: center;
    margin-top: 20px;
}

.kapcsolat-section .col-12 {
    font-size: 16px;
    color: #333;
}

.kapcsolat-section .col-12 p {
    font-size: 14px;
    color: #666;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    background-color: rgba(49, 81, 143, 0.8);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0;
}

.footer img {
    user-select: none;
}

.footer .footerKep,
.footer .footerKep2 {
    margin: 0;
}

.footer .newsLetter {
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer .newsLetter:hover {
    scale: 1.05;
}

@media (max-width: 991px) {
    .footer {
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 120px;
    }

    .footer .newsLetter {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    }

    .footer .newsLetter {
        width: 120px;
        height: 35px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {

    .kiemelt-szurke-grid,
    .hír-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .kiemelt-szurke-section,
    .sport-section,
    .politika-section,
    .magyarorszag-section,
    .altalanos-section {
        width: 90%;
        margin: 0 auto;
    }

    .kiemelt-szurke-grid img,
    .hír-grid img {
        width: 100%;
        height: auto;
    }

    .sport-section,
    .politika-section,
    .magyarorszag-section,
    .altalanos-section,
    .kiemelt-szurke-section {
        margin-bottom: 16px;
    }
}

#newsletterModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#newsletterModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#newsletterForm {
    display: flex;
    flex-direction: column;
}

#newsletterForm input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submitButton {
    padding: 10px;
    background-color: rgba(49, 81, 143, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#submitButton:hover {
    background-color: rgba(49, 81, 143, 0.8);
}

@media (max-width: 1200px) {

    .kiemelt-szurke-grid,
    .hír-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .kiemelt-szurke-section,
    .sport-section,
    .politika-section,
    .magyarorszag-section,
    .altalanos-section {
        width: 90%;
        margin: 0 auto;
    }

    .kiemelt-szurke-grid img,
    .hír-grid img {
        width: 250px;
        height: 170px;
        object-fit: cover;
    }

    .sport-section,
    .politika-section,
    .magyarorszag-section,
    .altalanos-section,
    .kiemelt-szurke-section {
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {

    .kiemelt-szurke-grid,
    .hír-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .kiemelt-szurke-section,
    .sport-section,
    .politika-section,
    .magyarorszag-section,
    .altalanos-section {
        width: 100%;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .kiemelt-szurke-grid img,
    .hír-grid img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .sport-section,
    .politika-section,
    .magyarorszag-section,
    .altalanos-section,
    .kiemelt-szurke-section {
        margin-bottom: 16px;
    }
}

#adminPanel a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}